<!-- <div class="game-container">
  <h1>Gomoku</h1>
  <div class="game-board">
   
    <div *ngFor="let r of board; let rowIndex = index" class="row">
      <div
        *ngFor="let cell of r; let columnIndex = index"
        class="cell"
        [ngClass]="{ 'x-cell': cell === 'X', 'o-cell': cell === 'O' }"
        (click)="makeMove(rowIndex, columnIndex)"      
      >
        <img *ngIf="cell === 'X'" src="assets/white-pawn.png" alt="White Pawn" />
        <img *ngIf="cell === 'O'" src="assets/black-pawn.png" alt="Black Pawn" />
      </div>
    </div>
    

 
  <button class="new-game-button" (click)="newGame()">New Game</button>
</div> -->
<div class="game-container">
  <h1>Gomoku</h1>
  <div class="game-board">
   
    <div *ngFor="let r of board; let rowIndex = index" class="row">
      <div
        *ngFor="let cell of r; let columnIndex = index"
        class="cell"
        [ngClass]="{ 'x-cell': cell === 2, 'o-cell': cell === 1 }"
        (click)="makeMove(rowIndex, columnIndex)"      
      >
        <img *ngIf="cell === 2" src="assets/white-pawn.png" alt="White Pawn" />
        <img *ngIf="cell === 1" src="assets/black-pawn.png" alt="Black Pawn" />
      </div>
    </div>
    
    <button class="new-game-button" (click)="newGame()">New Game</button>
  </div>
</div>

